.main{
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  background-color:rgb(70, 198, 248);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caro{
  border: 1px solid;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
}