.main{
  display: flex;
  flex-wrap:wrap;
  padding: 10px;
  justify-content: center;
}
.maindiv{
  width: 350px;
  margin: 10px;
  border: 1px solid;

}
.img{
  width: 350px;
}
.inp{
  border-radius: 5px;
  width: 400px;
  height: 25px;
}
.search{
  border: 1px solid;
  border-radius: 5px;
  width: 500px;
  padding: 15px;
}
.home{
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 20px;
  padding: 30px;
}